{% load device_count_in_zone %}
<!DOCTYPE html>
<html>
<head>
<title>MiB Zone 1 Philips Hue</title>
<!--

# Authors: Kruthika Rathinavel
# Version: 2.0
# Email: kruthika@vt.edu
# Created: "2014-10-13 18:45:40"
# Updated: "2015-02-13 15:06:41"


Copyright © 2014 by Virginia Polytechnic Institute and State University
All rights reserved

Virginia Polytechnic Institute and State University (Virginia Tech) owns the copyright for the BEMOSS software and its
associated documentation ("Software") and retains rights to grant research rights under patents related to
the BEMOSS software to other academic institutions or non-profit research institutions.
You should carefully read the following terms and conditions before using this software.
Your use of this Software indicates your acceptance of this license agreement and all terms and conditions.

You are hereby licensed to use the Software for Non-Commercial Purpose only.  Non-Commercial Purpose means the
use of the Software solely for research.  Non-Commercial Purpose excludes, without limitation, any use of
the Software, as part of, or in any way in connection with a product or service which is sold, offered for sale,
licensed, leased, loaned, or rented.  Permission to use, copy, modify, and distribute this compilation
for Non-Commercial Purpose to other academic institutions or non-profit research institutions is hereby granted
without fee, subject to the following terms of this license.

Commercial Use: If you desire to use the software for profit-making or commercial purposes,
you agree to negotiate in good faith a license with Virginia Tech prior to such profit-making or commercial use.
Virginia Tech shall have no obligation to grant such license to you, and may grant exclusive or non-exclusive
licenses to others. You may contact the following by email to discuss commercial use:: vtippatents@vtip.org

Limitation of Liability: IN NO EVENT WILL VIRGINIA TECH, OR ANY OTHER PARTY WHO MAY MODIFY AND/OR REDISTRIBUTE
THE PROGRAM AS PERMITTED ABOVE, BE LIABLE TO YOU FOR DAMAGES, INCLUDING ANY GENERAL, SPECIAL, INCIDENTAL OR
CONSEQUENTIAL DAMAGES ARISING OUT OF THE USE OR INABILITY TO USE THE PROGRAM (INCLUDING BUT NOT LIMITED TO
LOSS OF DATA OR DATA BEING RENDERED INACCURATE OR LOSSES SUSTAINED BY YOU OR THIRD PARTIES OR A FAILURE
OF THE PROGRAM TO OPERATE WITH ANY OTHER PROGRAMS), EVEN IF VIRGINIA TECH OR OTHER PARTY HAS BEEN ADVISED
OF THE POSSIBILITY OF SUCH DAMAGES.

For full terms and conditions, please visit https://bitbucket.org/bemoss/bemoss_os.

Address all correspondence regarding this license to Virginia Tech's electronic mail address:: vtippatents@vtip.org


    -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
<link href="/static/css/thin-admin.css" rel="stylesheet" media="screen">
<link href="/static/css/font-awesome.css" rel="stylesheet" media="screen">
<link href="/static/weathericons/css/weather-icons.css" rel="stylesheet" media="screen">
<link href="/static/style/style.css" rel="stylesheet">
<link href="/static/style/dashboard.css" rel="stylesheet">
<link href="/static/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>

<!--  Slider -->
<link href="/static/css/jquery-ui.css" rel="stylesheet">
<script class="include" type="text/javascript" src="/static/javascript/jquery-1.10.2.js"></script>
<script class="include" type="text/javascript" src="/static/javascript/jquery-ui.js"></script>

<!--  Slider Enhancer -->
<script src="/static/assets/slider_enhancer/jquery-ui-slider-pips.min.js"></script>	
<link rel="stylesheet" type="text/css" href="/static/assets/slider_enhancer/jquery-ui-slider-pips.css">

<!--  Color Picker  -->

<script src="/static/assets/colorpicker/js/colpick.js" type="text/javascript"></script>
<link rel="stylesheet" href="/static/assets/colorpicker/css/colpick.css" type="text/css"/>


<!-- Notify CSS -->
<link href="../static/css/bootstrap-notify/bootstrap-notify.css" rel="stylesheet">

<!-- Custom Styles -->
<link href="../static/css/bootstrap-notify/styles/alert-bangtidy.css" rel="stylesheet">
<link href="../static/css/bootstrap-notify/styles/alert-blackgloss.css" rel="stylesheet">



<!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- <script class="include" type="text/javascript" src="/static/javascript/jquery.min.js"></script> --> 
<style>
.color-box {
	float:center;
	width:100px;
	height:50px;
	margin-left: 35%;
	margin-top: 4%;
	border: 1px solid white;
}
.slider {
    float: left;
    clear: left;
    width: 200px;
    margin-left: 20%;
    margin-top: 7%;
    background: #5e9ae2; /* Old browsers */
	background: -moz-linear-gradient(left, #000000 0%, #ffffff 100%) !important; /* FireFox 3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#000000), color-stop(100%,#ffffff)); /* Chrome, Safari 4+ */
	background: -webkit-linear-gradient(left, #000000 0%,#ffffff 100%); /* Chrome 10+, Safari 5.1+ */
	background: -o-linear-gradient(left, #000000 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #000000 0%,#ffffff 100%); /* IE 10+ */
	background: linear-gradient(left,#000000 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=’#000000’, endColorstr=’#ffffff′,GradientType=1 ); /* IE 6-9 */
  }

</style>

</head>
<body>
          <div class='notifications top-right'></div>
          <div class='notifications bottom-right'></div>
          <div class='notifications top-left'></div>
          <div class='notifications bottom-left'></div>
<div class="container">
  <div class="top-navbar header b-b"> <a data-original-title="Toggle navigation" class="toggle-side-nav pull-left" href="#"><i class="icon-reorder"></i> </a>
    <div class="brand pull-left"> <a href="/home/"><img src="/static/images/logo.png" width="147" height="33"></a></div>
    <ul class="nav navbar-nav navbar-right  hidden-xs">
      
      {% if user.is_authenticated %}
      <li class="dropdown user  hidden-xs"> <a data-toggle="dropdown" class="dropdown-toggle" href="#"> <i class="icon-male"></i> <span class="username">{{ user }}</span> <i class="icon-caret-down small"></i> </a>
        <ul class="dropdown-menu">
          <!--<li><a href="user_profile.html"><i class="icon-user"></i> My Profile</a></li>
          <li><a href="fullCalendar.html"><i class="icon-calendar"></i> My Calendar</a></li>
          <li><a href="#"><i class="icon-tasks"></i> My Tasks</a></li>
          <li class="divider"></li>-->
          <li><a href="/logout/"><i class="icon-key"></i> Log Out</a></li>
        </ul>
      </li>
      {% else %}
  	  <li><span class="username"><a href="/login"><i class="icon-key"></i> Log In</a></span></li>
      {% endif %}
    </ul>

  </div>
</div>
<div class="wrapper">
{% include 'side_nav.html' %}
  <div class="page-content">
  	<form action="" method="post">
  	{% csrf_token %}
    <div class="content container">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="page-title">Zone 1 <small>Philips Hue &nbsp;&nbsp;&nbsp;<i class="icon-small icon-wrench"></small></i></h2> 
        </div>
      </div>
 	<div class="row">
        <div class="col-md-12">
          <div class="row">
          <div class="col-lg-1"></div>
            <div class="col-md-5 col-xs-12 col-sm-6"> <a href="#" class="stats-container">
              <div class="stats-heading">Bridge</div>
              <div class="stats-body-alt"> 
               
                <div class="text-center"><h2>Philips Hue Bridge</h2></div>
                <small>00:17:88:18:b4:cd</small> 
                <div class="text-center"><label class="btn btn-s-md btn-success" href="#"><i class="icon-small icon-search"></i>&nbsp; Connected</label></div>

              </div>
              <div class="stats-footer"><div class="text-center">Bridge connected</div></div>
              </a> </div>
               <div class="col-md-5 col-xs-12 col-sm-6"> <a href="#" class="stats-container">
              <div class="stats-heading">Lights</div>
              <div class="stats-body-alt"> 
               
                <div class="text-center"><h2>8 Light Bulbs Connected</h2></div>
                 <small>5 ON, 3 OFF</small> 
                <div class="text-center"><label class="btn btn-s-md btn-warning" href="#"><i class="icon-small icon-plus"></i>&nbsp; Connect New Lights</label></div></div>
              <div class="stats-footer"><div class="text-center"><h2></h2></div></div>
              </a> </div>
              <div class="col-lg-1"></div>
          </div>
        </div>
      </div>
      
       	<div class="row">
          <!-- <div class="col-lg-3"></div> -->
		<div class="widget">
            <div class="widget-header">
            <div class="text-center">	      
             <i class="icon-bookmark"></i>
              <h3>Light 1</h3></div>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
           
             
          
            <div class="col-md-3 col-xs-12 col-sm-6"> <a href="#" class="stats-container">
              <div class="stats-heading">Toggle Light Status</div>
              <div class="stats-body-alt"> 
               
                <div class="text-center">	            	
                <div data-toggle="buttons" class="btn-group">
                	{% ifequal device_data.status 'on' %}
		                  <label class="btn btn-lg btn-default active" style="background-color:green;" id="light_on">
		                    <input type="checkbox"  name="options" >
		                    ON </label>
		                  <label class="btn btn-lg btn-default" id="light_off">
		                    <input type="checkbox"  name="options">
		                    OFF </label>
		            {% else %}
		            	<label class="btn btn-lg btn-default" id="light_on">
		                    <input type="checkbox"  name="options" >
		                    ON </label>
		                  <label class="btn btn-lg btn-default active" style="background-color:green;" id="light_off">
		                    <input type="checkbox"  name="options" >
		                    OFF </label>
		            {% endifequal %}
		             </div></div>
                </div>
              <div class="stats-footer"><div class="text-center">Light connected to BEMOSS</div></div>
              </a> </div>
              <div class="col-md-3 col-xs-12 col-sm-6" > <a href="#" class="stats-container" >
              <div class="stats-heading">Dim Level</div>
              <div class="stats-body-alt" style="height:73px;"> 
               
                <div class="text-center">	            	
                <h5> <div class="slider" id="slider1"></div></h5>
	            	</div>
			</div>
              <div class="stats-footer"><div class="text-center">Light illuminated to <input type="text" id="sldrvalue" readonly style="border:0; color:#f6931f; font-weight:bold;width:50px"/></div></div>
              </a> </div>
               <div class="col-md-3 col-xs-12 col-sm-6" > <a href="#" class="stats-container" >
              <div class="stats-heading">Saturation Level</div>
              <div class="stats-body-alt" style="height:73px;"> 
               
                <div class="text-center">	            	
                <h5> <div class="slider" id="slider2"></div></h5>
				</div>
			</div>
              <div class="stats-footer"><div class="text-center">Color Saturation:  <input type="text" id="sldrvalue1" readonly style="border:0; color:#f6931f; font-weight:bold;width:50px"/></div></div>
              </a> </div>
			<script>
			//Add this script after HTML that includes the slider and the value text.
		              	$(".slider").slider({
		              		  value: 60,
		              	      orientation: "horizontal",
		              	      range: "min",
		              	      animate: true,
		              	      min: 0,
		              	      max: 100,
		              	   	  slide: function( event, ui ) {
		              	   		if ($(this).attr('id')=='slider1')
						        	$( "#sldrvalue" ).val(ui.value +"%");
		              	   		else if ($(this).attr('id')=='slider2')
		              	   			$( "#sldrvalue1" ).val(ui.value +"%");
						      }
		                  });
		                  $( "#sldrvalue" ).val(  $( "#slider1" ).slider( "value" )+"%");
		                  $( "#sldrvalue1" ).val(  $( "#slider2" ).slider( "value" )+"%");
		                  $(".slider").slider("float");
		          </script>
		          
		     <div class="col-md-3 col-xs-12 col-sm-6" > <a href="#" class="stats-container" >
              <div class="stats-heading">Light Color</div>
              <div class="stats-body-alt" style="height:82px;"> 
               
                <div class="text-center">	            	
                <div class="color-box">
	            	<script>

					$('.color-box').colpick({
						colorScheme:'dark',
						layout:'rgbhex',
						color:'ff8800',
						submit:0,
						onChange:function(hsb,hex,rgb,el) {
							$(el).css('background-color', '#'+hex);
							//$(el).colpickHide();
						}
					})
					.css('background-color', 'rgba(0,0,0,0.5)');
					</script>
	            	</div>
				</div>
			</div>
              <div class="stats-footer"><div class="text-center">Not applicable</div></div>
              </a> </div>

      </div>
      <div class="stats-footer"><div class="text-center">View Statistics</div></div>
    	 </div>
              </div>
   <!--   	
      	<div class="row">
        <div class="col-lg-12">
        <div class="widget">
            <div class="widget-header"> <i class="icon-bookmark"></i>
              <h3>Connected Lights' Profile</h3>
            </div>

            <div class="widget-content">
            <div class="widget">
            <div class="widget-header text-center"><i class=" icon-dashboard "></i>
              <h3>Light 1</h3></div>
            <div class="widget-content">
            <div class="col-md-3 col-xs-12 col-sm-6"> <a href="#" class="stats-container">
              <div class="stats-heading">Bridge</div>
              <div class="stats-body-alt"> 
               <div id="preview">
	            	<div class="text-center">
	            	<div data-toggle="buttons" class="btn-group">
		                  <label class="btn btn-sm btn-default">
		                    <input type="checkbox" id="on" name="options">
		                    ON </label>
		                  <label class="btn btn-sm btn-default">
		                    <input type="checkbox" id="off" name="options">
		                    OFF </label>
		                </div>
	            	</div>
	            	<small><div class="slider" id="slider1"></div></small><br/>
	            	<script>
		              	$(".slider").slider({
		              		  value: 60,
		              	      orientation: "horizontal",
		              	      range: "min",
		              	      animate: true,
		              	      min: 0,
		              	      max: 100
		                  });
		                  $( "#sldrvalue" ).val(  $( "#slider1" ).slider( "value" )+"%");
		                  $(".slider").slider("float");
		          </script>
	            	<div class="color-box">
	            	<script>

					$('.color-box').colpick({
						colorScheme:'dark',
						layout:'rgbhex',
						color:'ff8800',
						submit:0,
						onChange:function(hsb,hex,rgb,el) {
							$(el).css('background-color', '#'+hex);
							//$(el).colpickHide();
						}
					})
					.css('background-color', 'rgba(0,0,0,0.5)');
					</script>
	            	</div>
	            </div>
						</div>            

              <div class="stats-footer"><div class="text-center">Save Changes</div></div>
              </a> </div>
            </div></div>
            
              </div>
              </div>
        </div>
        </div>
-->

      	</div>
      	
<div class="row">
	<div class="col-lg-4"></div>
     <div class="col-lg-4">
          <div class="widgetcontainer">

              <div class="todo-action-bar"> 
                <!--row start-->
                <div class="row">

                    &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-default" id="submitthermostatdata"><i class="icon-ok"></i> Submit All Changes</button>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-default btn-danger" ><i class="icon-bar-chart"></i> View Past Usage Statistics</button>

                </div>
                <!--row end--> 
              </div>
            </div>
          </div>
</div><br/>
	</form>
    </div>
  </div>


<div class="bottom-nav footer"> <span class="h6"> 2015 &copy; MiB Automations. </span><br/></div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="/static/js/jquery.js"></script> 
<script src="/static/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="/static/js/left_nav_slider.js"></script>
<script class="include" type="text/javascript" src="/static/javascript/jquery191.min.js"></script> 
<script class="include" type="text/javascript" src="/static/javascript/jquery.jqplot.min.js"></script> 
<script src="/static/js/select-checkbox.js"></script> 
<script src="/static/js/to-do-admin.js"></script> 
<script src="/static/assets/sparkline/jquery.sparkline.js" type="text/javascript"></script>
<script src="/static/assets/sparkline/jquery.customSelect.min.js" ></script>
<script src="/static/assets/sparkline/sparkline-chart.js"></script>
<script src="/static/assets/sparkline/easy-pie-chart.js"></script>
<script class="include" type="text/javascript" src="/static/javascript/jquery.min.js"></script> 
<script class="include" type="text/javascript" src="/static/app_js/jquery.csrftoken.js"></script>
<script class="include" type="text/javascript" src="/static/app_js/jquery.csrftoken.min.js"></script>
<script class="include" type="text/javascript" src="/static/app_js/bootstrap-notify.js"></script>
<script class="include" type="text/javascript" src="/static/js/require.js"></script>
<script class="include" type="text/javascript" src="/static/app_js/zmq_helper.js"></script>


<!--switcher html start-->
<div class="demo_changer" style="right: -145px;">
                <div class="demo-icon"></div>
                <div class="form_holder">


                    <div class="predefined_styles">
                        <a class="styleswitch" rel="a" href=""><img alt="" src="/static/images/a.jpg"></a>
                        <a class="styleswitch" rel="b" href=""><img alt="" src="/static/images/b.jpg"></a>
                        <a class="styleswitch" rel="c" href=""><img alt="" src="/static/images/c.jpg"></a>
                        <a class="styleswitch" rel="d" href=""><img alt="" src="/static/images/d.jpg"></a>
                        <a class="styleswitch" rel="e" href=""><img alt="" src="/static/images/e.jpg"></a>
                        <a class="styleswitch" rel="f" href=""><img alt="" src="/static/images/f.jpg"></a>
                        <a class="styleswitch" rel="g" href=""><img alt="" src="/static/images/g.jpg"></a>
                        <a class="styleswitch" rel="h" href=""><img alt="" src="/static/images/h.jpg"></a>
                        <a class="styleswitch" rel="i" href=""><img alt="" src="/static/images/i.jpg"></a>
                        <a class="styleswitch" rel="j" href=""><img alt="" src="/static/images/j.jpg"></a>
                        <a class="styleswitch" rel="b1" href=""><img alt="" src="/static/images/b1.jpg"></a>
                         <a class="styleswitch" rel="k" href=""><img alt="" src="/static/images/k.jpg"></a>
                         <a class="styleswitch" rel="l" href=""><img alt="" src="/static/images/l.jpg"></a>
                         <a class="styleswitch" rel="m" href=""><img alt="" src="/static/images/m.jpg"></a>
                         <a class="styleswitch" rel="n" href=""><img alt="" src="/static/images/n.jpg"></a>
                         <a class="styleswitch" rel="o" href=""><img alt="" src="/static/images/o.jpg"></a>
                         <a class="styleswitch" rel="p" href=""><img alt="" src="/static/images/p.jpg"></a>
                         <a class="styleswitch" rel="q" href=""><img alt="" src="/static/images/q.jpg"></a>
                         <a class="styleswitch" rel="r" href=""><img alt="" src="/static/images/r.jpg"></a>
                         <a class="styleswitch" rel="s" href=""><img alt="" src="/static/images/s.jpg"></a>
                         <a class="styleswitch" rel="t" href=""><img alt="" src="/static/images/t.jpg"></a>
                         <a class="styleswitch" rel="u" href=""><img alt="" src="/static/images/u.jpg"></a>
                    </div>

                </div>
            </div>


    <!--switcher html end-->
<script src="/static/assets/switcher/switcher.js"></script>
<script src="/static/assets/switcher/moderziner.custom.js"></script>
<link href="/static/assets/switcher/switcher.css" rel="stylesheet">
<link href="/static/assets/switcher/switcher-defult.css" rel="stylesheet">
<link rel="alternate stylesheet" type="text/css" href="/static/assets/switcher/a.css" title="a" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/static/assets/switcher/b.css" title="b" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/static/assets/switcher/c.css" title="c" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/static/assets/switcher/d.css" title="d" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/static/assets/switcher/e.css" title="e" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/static/assets/switcher/f.css" title="f" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/static/assets/switcher/g.css" title="g" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/static/assets/switcher/h.css" title="h" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/static/assets/switcher/i.css" title="i" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/static/assets/switcher/j.css" title="j" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/static/assets/switcher/b1.css" title="b1" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/static/assets/switcher/k.css" title="k" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/static/assets/switcher/l.css" title="l" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/static/assets/switcher/m.css" title="m" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/static/assets/switcher/n.css" title="n" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/static/assets/switcher/o.css" title="o" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/static/assets/switcher/p.css" title="p" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/static/assets/switcher/q.css" title="q" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/static/assets/switcher/r.css" title="r" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/static/assets/switcher/s.css" title="s" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/static/assets/switcher/t.css" title="t" media="all" />
<link rel="alternate stylesheet" type="text/css" href="/static/assets/switcher/u.css" title="u" media="all" />


</body>
</html>